.about {
  min-height: 100vh;
  padding: 100px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  max-width: 1000px;
  text-align: center;
}

.about-container h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #00F5FF;
}

.about-text {
  color: #aaa;
  margin-bottom: 40px;
  line-height: 1.6;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* GLASS EFFECT */
.card {
  padding: 30px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #00F5FF55;
}

.card h3 {
  font-size: 28px;
  color: #00F5FF;
}

.card p {
  color: #ccc;
}